<!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="fa fa-bars"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="fa fa-times"></i></a>
        <li class="sidebar-brand"><a href="http://startbootstrap.com">Book and Order</a></li>
        <li><a href="#top">Anasayfa</a></li>
        <li><a href="#about">Hakkinda</a></li>
        <li><a href="#services">Servisler</a></li>
        <li><a href="#portfolio">Portfolyo</a></li>
        <li><a href="#contact">Bize Ulasin</a></li>
      </ul>
    </div>
    <!-- /Side Menu -->
  
    <!-- Full Page Image Header Area -->
    <div id="top" class="header">
      <div class="vert-text">
        <h1>Book and Order</h1>
        <h3>Tum restorantlarin menuleri cebinizde</h3>
        <a href="#about" class="btn btn-default btn-lg">Ayrintili Bilgi</a>
      </div>
    </div>
    <!-- /Full Page Image Header Area -->
  
    <!-- Intro -->
    <div id="about" class="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h2>Yakinlarinizdaki restorantlarin menulerine cebinizden ulasin!</h2>
            <p class="lead">Restoranta gitmeden siparisini verip parasini odeyebilirsiniz.</p>
          </div>
        </div>
      </div>
    </div>
    <!-- /Intro -->
  
    <!-- Services -->
    <div id="services" class="services">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Servislerimiz</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2 col-md-offset-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-rocket"></i>
              <h4>Yakin Restorantlari Bulun</h4>
              <p>Bi tikla cevrenizdeki restorantlari bulun!</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-magnet"></i>
              <h4>Restorant Menulerine Ulasin</h4>
              <p>Restoranta gitmeden menulerine ulasip inceleyin.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-shield"></i>
              <h4>Cepten Siparisinizi Verin</h4>
              <p>Hayat beklemeye gelmez. Hemen masaniza oturup yemeginizi yeyin.</p>
            </div>
          </div>
          <div class="col-md-2 text-center">
            <div class="service-item">
              <i class="service-icon fa fa-pencil"></i>
              <h4>Kolay Odeme Sistemi</h4>
              <p>Cepten kredi karti kolayca odemenizi gerceklestin.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Services -->

    <!-- Callout -->
    <div class="callout">
      <div class="vert-text">
        <h1>Sehirde Gezmek Cok Daha Kolay</h1>
      </div>
    </div>
    <!-- /Callout -->

    <!-- Portfolio -->
    <div id="portfolio" class="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-md-offset-4 text-center">
            <h2>Anlasmali Restorantlarimiz</h2>
            <hr>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <%= image_tag("portfolio-1.jpg", :class => "img-portfolio img-responsive") %>
              <h4>Pi Cafe</h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="#"><%= image_tag("portfolio-2.jpg", :class => "img-portfolio img-responsive") %></a>
              <h4>Kokorecin Allahi</h4>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 text-center">
            <div class="portfolio-item">
              <a href="#"><%= image_tag("portfolio-3.jpg", :class => "img-portfolio img-responsive") %></a>
              <h4>Usak Keranesi</h4>
            </div>
          </div>
          <div class="col-md-4 text-center">
            <div class="portfolio-item">
              <a href="#"><%= image_tag("portfolio-4.jpg", :class => "img-portfolio img-responsive") %></a>
              <h4>Marti eti doner</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /Portfolio -->

    <!-- Call to Action -->
    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <h3>Hemen uye ol!</h3>
            
            <%#= link_to('Uye ol!', new_user_registration_path, class: "btn btn-lg btn-primary") %>
          </div>
        </div>
      </div>
    </div>
    <!-- /Call to Action -->


    
    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-3 text-center">
            <ul class="list-inline">
              <li><i class="fa fa-facebook fa-3x"></i></li>
              <li><i class="fa fa-twitter fa-3x"></i></li>
              <li><i class="fa fa-dribbble fa-3x"></i></li>
            </ul>
            <div class="top-scroll">
              <a href="#top"><i class="fa fa-circle-arrow-up scroll fa-4x"></i></a>
            </div>
            <hr>
            <p>Copyright &copy; KuziSoft 2013</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- /Footer -->

    <!-- JavaScript
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
       -->

    <!-- Custom JavaScript for the Side Menu and Smooth Scrolling -->
    <script>
        $("#menu-close").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#sidebar-wrapper").toggleClass("active");
        });
    </script>
    <script>
      $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
          if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') 
            || location.hostname == this.hostname) {

            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
            if (target.length) {
              $('html,body').animate({
                scrollTop: target.offset().top
              }, 1000);
              return false;
            }
          }
        });
      });
    </script>

